* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile {
    width: 60%;
    margin: auto;
    background-color: #eaf1f4;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.profile p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer p {
    font-size: 1em;
    color: #777;
    margin-top: 30px;
}
